@import '_colors.scss';
@import '_animations.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    // position: relative;
    // font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

// NAV
.nav {
    .burger {
        position: fixed;
        top: 30px;
        right: 30px;
        width: 60px;
        height: 44px;
        transition: .2s;
        z-index: 95777;

        .burger__item {
            position: absolute;
            left: 0;
            width: 100%;
            height: 10px;
            background-color: rgb(221, 221, 221);
            border-radius: 10px;
            border: 2px solid black;
            transition: top .2s .2s, opacity .2s .2s, transform .2s .4s;
            animation: flash2 1.5s ease-out infinite alternate-reverse;
        }

        .item-upper {
            top: 0;

        }

        .item-middle {
            top: 17px;
        }

        .item-lower {
            top: 34px;

        }
    }

    .burger:hover {
        cursor: pointer;
    }

    .burger--active {
        transform: rotate(-90deg);

        .item-upper {
            top: 17px;
            transform: rotate(45deg);
        }

        .item-middle {
            opacity: 0;
        }

        .item-lower {
            top: 17px;
            transform: rotate(-45deg);
        }
    }

    // .inscription {
    //     position: fixed;
    //     top: 80px;
    //     right: 22px;
    //     font-size: 25px;
    //     font-weight: 700;
    //     color: black;
    //     text-transform: uppercase;
    //     z-index: 95;
    //     cursor: pointer;
    //     // transition: .2s linear;
    //     animation: flash 1.5s ease-out infinite alternate-reverse;
    // }

    .nav__menu {
        position: fixed;
        top: 0;
        left: -227px;
        display: flex;
        flex-direction: column;
        // left: 0px;
        height: 100%;
        width: 227px;
        background-color: rgba(0, 0, 0, 0.9);
        // background-color: black;
        z-index: 99555;
        transition: 1s;

        .nav__menu-brand {
            // display: flex;
            // align-items: center;
            // justify-content: center;
            margin-top: 30px;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .nav__menu-img {
                // object-fit: cover;
                width: 80%;
            }
        }

        .nav__menu-list {
            width: 100%;
            margin-top: 30px;
            color: white;
            list-style-type: none;

            .nav__menu-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 8px 0;
                font-size: 24px;
                // font-family: 'Raleway', sans-serif;
                font-family: 'Lato', sans-serif;
                font-weight: 500;

                .fas {
                    width: 30px;
                    padding-right: 35px;
                    color: rgb(221, 221, 221);
                    border-right: solid white 2px;
                }

                .nav__menu-category {
                    display: inline-block;
                    width: 120px;
                    margin-left: 10px;
                    padding: 14px 13px;
                    text-align: center;
                    background-color: rgb(0, 0, 0);
                    color: rgb(255, 255, 255);
                    text-shadow: 1px 1px 2px gray;
                    box-shadow: 0px 0px 8px rgb(255, 255, 255);
                    transition: .2s linear;
                }
            }

            .nav__menu-item:hover {
                background-color: rgba(255, 255, 255, 0.5);

                .fas {
                    // a
                    border-right: none;
                    color: rgb(0, 0, 0);
                    transform: scale(1.3);
                }

                .nav__menu-category {
                    background-color: $green;
                    scale: 1.1;
                }
            }

            .nav__link:link,
            .nav__link:visited,
            .nav__link:active {
                color: white;
                text-decoration: none;
            }



        }

        .nav__media {
            display: flex;
            justify-content: space-evenly;
            // width: 100%;
            margin-top: 30px;

            .nav__media-icon {
                width: 40px;
                height: 40px;
                border: solid white 2px;
                line-height: 40px;
                text-align: center;
                border-radius: 50%;
                color: white;
                font-size: 25px;
                transition: transform .4s linear;
            }

            .nav__media-icon:hover {
                cursor: pointer;
                transform: rotateZ(360deg);
            }

            .nav__media-icon--facebook {
                background-color: #3b5998;
            }

            .nav__media-icon--linkedin {
                background-color: #0e76a8;
            }

            .nav__media-icon--github {
                background-color: #000;
            }
        }

    }

    .burger--active+.nav__menu {
        left: 0px;
    }
}

// HEADER
.header {
    // width: calc(100vw - 227px);

    // height: 100vh;
    // position: relative;
    // overflow: hidden;
    .header__img-box {
        position: relative;
        height: 100vh;
        width: 100vw;
        // width: calc(100vw - 227px);


        .header__img-item {
            position: absolute;
            z-index: 28;
        }

        .header__img-item--one {
            top: 0;
            left: 0;
            width: 50%;
            height: 50%;
        }

        .header__img-item--two {
            top: 0;
            right: 0;
            width: 50%;
            height: 50%;
        }

        .header__img-item--three {
            bottom: 0;
            right: 0;
            width: 100%;
            height: 50%;
        }

        .header__img-bg {
            // display: block;
            position: fixed;
            top: 0;
            left: 0;
            // left: 227px;
            height: 100%;
            width: 100%;
            // width: calc(100vw - 227px);
            object-fit: cover;
            opacity: 0;
            filter: grayscale(0);
            transition: opacity 1s, filter 1s;
            z-index: -44444;
        }

        .header__img-bg--bg1 {
            opacity: 1;
        }

        .header__img-item--one:hover~.header__img-bg--bg2 {
            opacity: 1;
        }

        .header__img-item--two:hover~.header__img-bg--bg3 {
            opacity: 1;
        }

    }


    .header__title {
        position: absolute;
        bottom: 30px;
        right: 30px;
        padding: 45px 35px;
        background-color: rgba(255, 255, 255, 0.5);
        text-align: center;
        border-radius: 4px;
        // border: solid 1px black;
        box-shadow: 5px 5px 10px black, -5px -5px 10px black, 5px -5px 10px black, -5px 5px 10px black;
        z-index: 101;
        transition: 1s;
        cursor: pointer;
        // opacity: 0;

        /* Włączyć jeśli perspektywa */

        // transform: perspective(200px) rotateY(-28deg);
        // transform-origin: 70%;
        // box-shadow: 15px 15px 20px rgb(63, 63, 63);

        .header__title-name {
            height: 70px;
            font-size: 50px;
            font-weight: normal;
            line-height: 70px;
            color: rgb(0, 0, 0);
            background-color: rgb(255, 255, 255);
            text-shadow: 3px 2px 4px rgb(128, 128, 128);
            box-shadow: 5px 5px 7px rgb(63, 63, 63);
            transform: rotate(2deg);
            transition: 1s;
            /* Włączyć poruszające się litery*/

            span {
                display: inline-block;
                transition: .3s linear;
            }

            .action {
                transform-origin: bottom;
                animation: letters .7s linear forwards;
            }
        }

        .header__title-proffesion {
            height: 70px;
            padding-right: 15px;
            padding-left: 15px;
            line-height: 70px;
            font-size: 40px;
            color: rgb(255, 255, 255);
            background-color: rgb(0, 0, 0);
            box-shadow: 5px 5px 7px rgb(63, 63, 63);
            text-shadow: 3px 2px 4px rgb(128, 128, 128);
            transform: rotate(-2deg);
            transition: 1s;
        }
    }



    .header__title:hover {
        background-color: rgba(0, 0, 0, 0.5);

        .header__title-name {
            // font-size: 52px;
            background-color: #000;
            transform: rotate(-2deg);

            span {
                color: #fff;

            }
        }

        .header__title-proffesion {
            background-color: $green;
            transform: rotate(2deg);
        }

        &+.header__img-box {
            .header__img-bg {
                filter: grayscale(1);
            }
        }
    }

    // .header__title:hover+.header__img-box {
    //     .header__img-bg {
    //         filter: grayscale(1);
    //     }
    // }

}

// main {
//     position: relative;
//     left: 227px;
//     width: calc(100vw - 227px);
// }

// ABOUT
.about {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: url("../img/img/frame-about-black.jpg");
    // background-color: rgb(83, 83, 83);
    // background-blend-mode: darken;
    // background-blend-mode: darken;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 5;
    overflow: hidden;
    // border-top: solid rgb(221, 221, 221) 20px;
    border-top: solid $border-gray 20px;




    .about__container {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        max-width: 1600px;
        padding: 150px 10px;
        font-size: 1.5rem;
        line-height: 140%;
        border-bottom: 5px solid rgba(126, 126, 126, 0.4);
        overflow: hidden;

        .about__container-description {
            display: flex;
            justify-content: center;
            flex-direction: column;
            flex-basis: 47%;
            text-align: center;
            transform: translateX(10%);
            z-index: 8;

            .about__container-title {
                padding: 14px 30px;
                margin: 5px 0;
                font-size: 2.18rem;
                text-transform: uppercase;
                color: white;
                background-color: #000;
                border: solid 4px rgb(179, 179, 179);
                transform: rotateZ(-2deg) translateY(20%) translateX(0px);
                transition: transform 0.5s linear, opacity .5s linear;
                transition-delay: .8s;
            }

            .about__container-paragraph1 {
                margin: 5px 0;
                padding: 30px;
                color: black;
                font-family: "Lato", sans-serif;
                background-color: white;
                border: solid 4px black;
                transition: transform 0.5s linear, opacity .5s linear;
                transition-delay: 1.4s;
                text-align: left;
            }

            .about__container-paragraph1::before {
                content: 'Cześć, mam na imię Dawid';
                display: block;
                background-color: $green;
                text-align: center;
                margin-bottom: 10px;
            }

            .about__container-paragraph2 {
                margin: 5px 0;
                padding: 30px;
                color: white;
                font-family: "Lato", sans-serif;
                background-color: #000;
                border: solid 4px white;
                transition: transform.5s linear, opacity .5s linear;
                transition-delay: 2s;
                text-align: left;
            }

            .about__container-paragraph2::before {
                content: 'Szukam pracy jako Front-End Developer';
                display: block;
                background-color: $green;
                margin-bottom: 10px;
                text-align: center;

            }

            .active {
                transform: translateX(-100%);
                opacity: 0;
            }
        }

        .about-img {
            // position: relative;
            flex-basis: 47%;
            max-height: 900px;
            overflow: hidden;
            transform: perspective(500px) rotateZ(60deg) scale(4) translateX(-10%);
            transition: 1.3s linear;
            opacity: 0;
            z-index: 7;

            img {
                // position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                // filter: contrast(300%);
                // &:hover {
                //     &:nth-child(2) {
                //         mix-blend-mode: darken;
                //     }
                // }
            }

        }

        .active-img {
            transform: perspective(0) translateX(-10%) rotateZ(0) scale(1);
            opacity: 1;
        }

    }

    .skills__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
        max-width: 1370px;
        // padding: 0 35px 150px 35px;
        padding: 35px 35px 0;
        margin-top: 150px;
        margin-bottom: 150px;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 2px;

        .skills__container-title {
            width: 400px;
            margin-top: 15px;
            margin-bottom: 50px;
            padding: 10px;
            font-size: 35px;
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            text-align: center;
            color: #000;
            background-color: $green;
            // border: 4px solid rgb(179, 179, 179);

        }

        .skills__container-cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .skills__container-card {
                position: relative;
                // left: -100%;
                transform: scale(0.0);
                filter: blur(0);
                // opacity: 0;
                // transition: filter .5s, transform .5s, opacity .5s, left .5s;

                h3 {
                    position: relative;
                    z-index: -2;
                    left: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    font-family: 'Montserrat', sans-serif;
                    height: 70px;
                    width: 350px;
                    color: #fff;
                    background-color: #000;
                    border: 2px solid #fff;
                    overflow: hidden;
                }

                h3::before {
                    content: "";
                    position: absolute;
                    z-index: 52;
                    top: 20px;
                    left: -360px;
                    height: 80px;
                    width: 400px;
                    background-image: linear-gradient(-90deg, rgba(255, 255, 255, .3), rgba(255, 255, 255, 0));
                    // background-image: linear-gradient(-90deg, rgba(255, 215, 0, .3), rgba(255, 215, 153, 0));
                    transform: rotate(25deg);
                    transition: .8s .2s;
                }

                p {
                    position: relative;
                    bottom: 36px;
                    left: -15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100px;
                    width: 100px;
                    font-size: 70px;
                    background-color: #000;
                    color: #fff;
                    border: 2px solid #000;
                    transition: .5s;

                    img {
                        width: 70px;
                        height: 70px;
                    }

                    &.ps-style {
                        font-weight: bold;
                        letter-spacing: -2px;
                    }
                }

                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(9) {
                    transition: filter .5s, transform .5s .1s;
                }

                &:nth-child(2),
                &:nth-child(5),
                &:nth-child(8) {
                    transition: filter .5s, transform .5s .2s;

                }

                &:nth-child(1),
                &:nth-child(6),
                &:nth-child(7) {
                    transition: filter .5s, transform .5s .3s;

                }

                &:nth-child(7) {
                    p::before {
                        content: "";
                        position: absolute;
                        top: -2px;
                        left: -2px;
                        // transform: translate(-2px, -2px);
                        height: 100px;
                        width: 100px;
                        background-image: linear-gradient(110deg, blue, red, green);
                        z-index: -1;
                        transition: .5s;
                    }
                }
            }



            .active {
                // transition-duration: .5s;
                // opacity: 1;
                transform: scale(0.9);
            }

            .active-filter {
                // filter: blur(1.4px);
                filter: blur(1px);
                // filter: drop-shadow(2px 2px 10px white);
                // clip-path: circle(20% at 10% 50%)
            }

            .skills__container-card:hover {
                filter: blur(0px);
                transform: scale(1);

                h3::before {
                    left: 100%;
                }

                &:nth-child(1) {
                    p {
                        border: 2px solid orange;
                        // color: orange;
                    }
                }

                &:nth-child(2) {

                    p {
                        border: #2965f1 2px solid;
                        // color: #2965f1;
                    }
                }

                &:nth-child(3) {

                    p {
                        border: gold 2px solid;
                        // color: gold;
                    }
                }

                &:nth-child(4) {

                    p {
                        border: #cc6699 2px solid;
                        // color: #cc6699;
                    }
                }

                &:nth-child(5) {

                    p {
                        border: #337ab7 2px solid;
                        // color: #337ab7;
                    }
                }

                &:nth-child(6) {

                    p {
                        border: #0769ad 2px solid;
                    }
                }

                &:nth-child(7) {

                    p {
                        border: transparent 2px solid;
                    }

                    p::before {
                        content: "";
                        top: -4px;
                        left: -4px;
                        width: 104px;
                        height: 104px;
                    }

                }

                &:nth-child(8) {

                    p {
                        border: #fff 2px solid;
                    }
                }

                &:nth-child(9) {

                    p {
                        border: #8BC3FC 2px solid;
                    }
                }


            }
        }
    }

}

.about::before {
    // content: "ABOUT";
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // padding: 0 20px;
    // transform: translate(-50%, -50%) rotate(-25deg);
    // font-family: 'Montserrat', sans-serif;
    // font-size: 20rem;
    // font-weight: bold;
    // text-transform: uppercase;
    background-color: gold;
    // z-index: 4;
    // text-shadow:
    //     -2px -2px 0 #fff,
    //     2px -2px 0 #fff,
    //     -2px 2px 0 #fff,
    //     2px 2px 0 #fff;
}


// PROJECTS
.projects {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-image: url("../img/img/frame-projects-silver-silver-3.jpg");
    // background-image: url("../img/img/frame-projects-white-silver2.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 5;
    overflow: hidden;
    border-top: solid $border-gray 20px;


    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 150px 0;
        padding: 0px 10px;
        max-width: 1370px;
        width: 100%;
        background: rgba(0, 0, 0, .9);
        z-index: -2;

        &-title {
            width: 400px;
            margin: 50px 0;
            padding: 10px;
            font-size: 35px;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            text-align: center;
            color: #000;
            background-color: $green;
        }

        .project__box {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;

            .project__card {
                padding: 50px 0;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                // padding-bottom: 200px;
                // margin-top: 300px;
                font-family: 'Montserrat', sans-serif;
                // text-align: center;
                // font-size: 0.8rem;


                .reveal {
                    position: relative;
                    background-color: #000;
                    font-size: 2.5em;
                    padding: 1px 10px;
                    font-weight: 500;
                    transform-origin: left;
                    transform: scaleX(0);
                    transition: 0.5s;
                    transition-delay: .5s;
                    text-transform: uppercase;
                    /* text-orientation: upright;
                    writing-mode: vertical-rl; */
                    background-color: #fff;
                    color: black;
                }

                .reveal.active {
                    transform: scaleX(1);
                    transition-delay: .0s;


                }

                .reveal:nth-child(2) {
                    font-weight: 300;
                    font-size: 1.5em;
                    letter-spacing: 2px;
                    margin-top: 5px;
                    // border-bottom: 2px solid black;
                    background-color: #000;
                    color: #fff;

                    display: inline-block;
                }

                .reveal::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: #e02bff;
                    // background: $green;
                    // background-image: linear-gradient(45deg, pink, white, violet);
                    transform-origin: right;
                    transition: .5s;
                    transition-delay: .0s;

                }

                .reveal:nth-child(2)::before {
                    // background: #fff;
                    background: #ffeb3b;
                    transform-origin: left;

                }

                .reveal.active::before {
                    transform: scaleX(0);
                    transition-delay: .5s;

                }

                &-img {
                    position: relative;
                    top: -8px;
                    // top: -28px;
                    right: -210px;
                    // right: -200px;
                    display: block;
                    // margin-left: 10px;
                    // margin-top: 20px;
                    /* max-width: 300px; */
                    width: 300px;
                    height: 300px;
                    max-height: 300px;
                    object-fit: cover;
                    opacity: 0;
                    transition: 1s;
                    z-index: -1;
                    filter: grayscale(1);
                }

                &-box:hover .project__card-img {
                    filter: grayscale(0);
                }

                &-img.active {
                    right: -100px;
                    opacity: 1;
                }
            }

            .project__card:nth-child(even) {
                justify-content: center;

                .reveal {
                    transform-origin: right;

                }

                .reveal::before {
                    background: crimson;
                }

                .reveal:nth-child(2)::before {
                    background: darkblue;
                }
            }
        }
    }
}


// CONTACT
.contact {
    position: relative;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    // align-items: center;
    height: 100%;
    width: 100%;
    background-image: url("../img/img/frame-contact-silver-white.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 5;
    overflow: hidden;
    border-top: solid $border-gray 20px;
    min-height: 100vh;

    .contact__container {
        margin: 150px 0;
        width: 100%;
        max-width: 1370px;
        background-color: rgba(0, 0, 0, .8);
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;

        // position: relative;

        &-title {
            width: 400px;
            margin-top: 50px;
            // margin-bottom: 50px;
            padding: 10px;
            font-size: 35px;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            text-align: center;
            color: #000;
            background-color: $green;
        }

        &-cards {
            display: flex;
            // flex-direction: column;
            justify-content: space-around;
            flex-wrap: wrap;
            // align-items: center;
            width: 100%;
            // height: 100%;
            margin: 80px 0 120px;

            // align-self: center;
            a:link,
            a:visited,
            a:active {
                color: #000;
                text-decoration: none;
            }
        }

        &-card {
            position: relative;
            width: 260px;
            height: 200px;
            background-color: black;
            border: 3px solid white;
            color: white;
            transition: .5s;
            cursor: pointer;

            &--center {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                cursor: default;
                background-color: white;
                border: 3px solid black;
                color: black;

                &:hover {
                    box-shadow: 1px 1px 10px white, 1px -1px 10px white, -1px 1px 10px white, -1px -1px 10px white,
                        1px 1px 10px white, 1px -1px 10px white, -1px 1px 10px white, -1px -1px 10px white;
                    border: 3px solid black;
                    background-color: black;
                    color: white;
                }
            }

            &:nth-child(1):hover,
            &:nth-child(3):hover {
                box-shadow: 1px 1px 10px white, 1px -1px 10px white, -1px 1px 10px white, -1px -1px 10px white,
                    1px 1px 10px white, 1px -1px 10px white, -1px 1px 10px white, -1px -1px 10px white;
                border: 3px solid black;
                background-color: white;
                color: black;
            }

        }

        &-card::after {
            content: '';
            position: absolute;
            left: -10px;
            top: -10px;
            background-image: linear-gradient(45deg, #525252 40%, rgb(209, 209, 209));
            opacity: 0.75;
            height: 100%;
            width: 100%;
            clip-path: polygon(0 0, 0 100%, 100% 0);
            transition: 0.5s;
        }

        &-card:hover::after {
            left: 0px;
            top: 0px;
        }

        &-card::before {
            content: '';
            position: absolute;
            right: -10px;
            bottom: -10px;
            // right: -10px;
            // bottom: -10px;
            background-image: linear-gradient(45deg, #525252 40%, rgb(209, 209, 209));
            opacity: 0.75;
            height: 100%;
            width: 100%;
            // height: 100%;
            // width: 100%;
            clip-path: polygon(100% 0, 0 100%, 100% 100%);
            transition: 0.5s;
            z-index: 1;
        }

        &-card:hover::before {
            right: 0px;
            bottom: 0px;
        }

        &-logo {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 5rem;
        }

        &-text {
            position: absolute;
            right: 10px;
            bottom: 10px;
            font-size: 1.2rem;
            z-index: 1;
            transition: color .5s;
        }

        &-card:hover .contact__container-text {
            color: black;
        }

        &-card:hover .contact__container-number,
        &-card:hover .contact__container-adress {
            color: white;
        }

        &-email,
        &-phone,
        &-adress,
        &-number {
            position: absolute;
            z-index: 1;
            transition: color .5s;
        }

        &-email,
        &-phone {
            font-size: 1.5rem;
        }

        &-adress,
        &-number {
            font-size: 1.05rem;
        }

        &-email {
            bottom: 30px;
            right: 10px;
        }

        &-adress {
            bottom: 10px;
            right: 10px;
        }

        &-phone {
            top: 5px;
            left: 10px;
        }

        &-number {
            top: 35px;
            left: 10px;
        }
    }

}

// FOOTER
.footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    width: 100%;
    height: 80px;
    background-color: $border-gray;

    &__rights {
        font-size: 1.2rem;
        color: #fff;
    }

    &__img {
        height: 50px;
        width: auto;
        padding: 0 10px;
    }
}

@media(max-width : 991.98px) {
    .nav {
        .nav__menu {
            .nav__menu-brand {
                .nav__menu-img {
                    width: 70%;
                }
            }

            .nav__menu-list {
                .nav__menu-item {
                    font-size: 1.2rem;

                    // padding: 4px 0;
                    .nav__menu-category {
                        padding: 10px 5px;
                        margin-left: 1rem;
                    }
                }


            }
        }
    }

    .header {
        .header__title {
            padding: 30px 30px;

            .header__title-name,
            .header__title-proffesion {
                font-size: 1.5rem;
                height: 50px;
                line-height: 50px;
            }

            .header__title-proffesion {
                padding: 0 15px;
            }

        }
    }

    .about {
        .about__container {
            font-size: 1.1rem;

            .about__container-description {
                .about__container-title {
                    font-size: 1.6rem;
                }
            }
        }

        .skills__container {
            .about-skills {
                justify-content: space-evenly;

                .skills__container-card {
                    h3 {
                        width: 300px;
                    }
                }

                .skills__container-card:hover {
                    transform: scale(0.9);
                }
            }
        }
    }

    .contact {
        .contact__container {
            &-cards {}

            &-card {
                margin: 0 15px;
                margin-bottom: 50px;
            }
        }
    }
}

@media(max-width : 767.98px) {

    .header {
        .header__title {
            padding: 0;
            border: 0;
            top: 30px;
            left: 30px;
            bottom: auto;
            right: auto;
            box-shadow: none;

            .header__title-name,
            .header__title-proffesion {
                height: 40px;
                font-size: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                text-shadow: none;
            }
        }

        .header__title:hover {
            background-color: transparent;
        }


    }

    .about {
        .about__container {
            flex-wrap: wrap;
            padding: 50px 10px;

            .about__container-description,
            .about-img {
                flex-basis: 95%;
                transform: translateX(0%);
                font-size: 1.3rem;
                // font-weight: bold;
            }

            .about-img {
                order: -1;
                transform: translateY(30px);
            }

            .about__container-description {
                transform: translateY(-30px);
                line-height: 160%;
            }

        }

        .skills__container {
            margin: 85px 10px;
            padding-bottom: 30px;

            .skills__container-cards {
                // max-width: 540px;

                .skills__container-card {
                    h3 {
                        display: none;
                    }

                    p {
                        left: 0;
                        bottom: 0;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }

    .projects {
        .projects__container {
            margin: 85px 0;
        }
    }

    .contact {
        .contact__container {
            margin: 85px 0px;

            &-cards {
                padding: 0 10px;
            }

            &-card {
                // margin: 0 15px;
                // margin-bottom: 50px;
            }
        }
    }

}

@media(max-width : 575.98px) {
    .nav {
        .burger {
            width: 40px;
            // height: 14px;

            .item-upper {
                top: 0;
            }

            .item-middle {
                top: 13px;
            }

            .item-lower {
                top: 26px;
            }
        }

        .burger--active {

            .item-upper,
            .item-lower {
                top: 13px;
            }
        }
    }

    .about {
        .about__container {
            // flex-wrap: wrap;
            // padding: 50px 10px;

            .about__container-description,
            .about-img {
                font-size: 1.1rem;
                font-weight: bold;
            }
        }
    }

    .about::before {
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        font-family: 'Montserrat', sans-serif;
        font-size: 3rem;
        letter-spacing: 2px;
    }
}